#cardPage {
    position: relative;

    #card {
        position: relative;
        display: flex;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        width: 70vw;
        height: 60vh;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: $black_red;
        border: solid 20px $black_green;

        #sapin {
            position: absolute;

            width: 40%;
            height: 90%;
            left: 5%;

            background-image: url("../img/sapin.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        #message {
            position: absolute;
            display: flex;

            flex-direction: column;
            justify-content: space-between;

            width: 50%;
            height: 90%;
            right: 5%;

            p {
                font-family: "Christmas";
                font-size: 4.5rem;
                color: $white_2;
            }

            p:nth-child(2) {
                padding-left: 1%;
                width: 90%;
            }

            p:nth-child(3) {
                text-align: right;
            }
        }
    }
}

#acs {
    position: absolute;

    width: 70vw;

    top: calc(80vh + 30px);
    left: 50%;
    transform: translateX(-50%);

    font-size: 3rem;
    font-family: "Christmas";
    text-align: right;
    color: $white_2;
}


@media screen and (max-width: 1500px) {
    #cardPage {
        #card {
            #sapin {
                width: 35%;
                left: 0;
            }

            #message {
                width: 64%;
                right: 1%;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    #cardPage {
        #card {
            width: 80vw;
        }
    }

    #acs {
        width: 80vw;
    }
}

@media screen and (max-width: 1100px) {
    #cardPage {
        #card {
            width: 90vw;
        }
    }

    #acs {
        width: 90vw;
    }
}

@media screen and (max-width: 950px) {
    #cardPage {
        #card {
            width : 95vw;
            height : 85vh;

            border-width: 10px;

            #message {
                position: absolute;
                
                width: 100%;
                height: 95%;
                left: 0;

                p:nth-child(1) {
                    padding-left: 2%;
                }

                p:nth-child(2) {
                    position: absolute;

                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                p:nth-child(3) {
                    padding-right: 2%;
                }
            }

            #sapin {
                width: 100%;
                height: 95%;
                left: 0;
                opacity: 50%;
            }
        }
    }

    #acs {
        height: 5vh;
        width: 90vw;
    
        top: 95vh;
        left: 54vw;

        font-size: 2.2rem;
    }
}