#form {
    position: relative;

    #titleForm {
        position: absolute;

        width: 70vw;

        bottom: calc(80vh + 30px);
        left: 50%; 
        transform: translateX(-50%);

        font-size: 3rem;
        font-family: "Christmas";
        text-align: center;
        color: $white;
    }

    form {
        position: relative;
        display: flex;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        width: 70vw;
        height: 60vh;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: $black_red;
        border: solid 20px $black_green;

        .inputText {
            width: 60%;
            height: 8%;
            text-align: center;

            font-family: "Christmas";
            font-size: 3rem;
            border-radius: 25%;

            background-color: $black_green;
            color: white;
        }

        .inputButton {
            width: 20%;
            height: 8%;

            font-family: "Christmas";
            font-size: 2rem;
            
            background-color: $black_green;
            color: white;
        }
    }
}

@media screen and (max-width: 1250px) {
    #form {
        form {
            width: 80vw;
        }
    }
}