#form {
    position: relative;

    form {
        position: relative;
        display: flex;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        width: 70vw;
        height: 60vh;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: $black_red;
        border: solid 20px $black_green;

        .inputText {
            width: 60%;
            height: 10%;
            text-align: center;

            font-family: "Christmas";
            font-size: 3rem;
            border-radius: 15%;
            outline: none;
            border: none;

            background-color: $black_green;
            color: $white_2;
        }

        .inputButton {
            width: 20%;
            height: 8%;

            font-family: "Christmas";
            font-size: 2rem;
            border-radius: 10%;
            outline: none;
            border: none;
            
            background-color: $black_green;
            color: $white_2;
        }
    }
}

#titleForm {
    position: absolute;

    width: 70vw;

    bottom: calc(80vh + 30px);
    left: 50%; 
    transform: translateX(-50%);

    font-size: 3rem;
    font-family: "Christmas";
    text-align: center;
    color: $white_2;
}

@media screen and (max-width: 1250px) {
    #form {
        form {
            width: 80vw;
        }
    }
}

@media screen and (max-width: 1100px) {
    #form {
        form {
            width: 90vw;
        }
    }
}

@media screen and (max-width: 950px) {
    #form {
        form {
            width : 95vw;
            height : 85vh;

            border-width: 10px;
            
            .inputText {
                width: 80%;
            }

            .inputButton {
                width: 35%;
            }
        }
    }

    #titleForm {
        position: absolute;
    
        width: 100vw;
    
        top: 0.5vh;
        left: 50%; 
        transform: translateX(-50%);
    
        font-size: 3rem;
        font-family: "Christmas";
        text-align: center;
        color: $white_2;
    }
}