#text path:nth-child(1) {
    stroke-dasharray: 182;
    stroke-dashoffset: 182;
    fill: transparent;
}

#text path:nth-child(2) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(3) {
    stroke-dasharray: 153;
    stroke-dashoffset: 153;
    fill: transparent;
}

#text path:nth-child(4) {
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    fill: transparent;
}

#text path:nth-child(5) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(6) {
    stroke-dasharray: 115;
    stroke-dashoffset: 115;
    fill: transparent;
}

#text path:nth-child(7) {
    stroke-dasharray: 102;
    stroke-dashoffset: 102;
    fill: transparent;
}

#text path:nth-child(8) {
    stroke-dasharray: 98;
    stroke-dashoffset: 98;
    fill: transparent;
}

#text path:nth-child(9) {
    stroke-dasharray: 65;
    stroke-dashoffset: 65;
    fill: transparent;
}

#text path:nth-child(10) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(11) {
    stroke-dasharray: 88;
    stroke-dashoffset: 88;
    fill: transparent;
}

#text path:nth-child(12) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(13) {
    stroke-dasharray: 153;
    stroke-dashoffset: 153;
    fill: transparent;
}

#text path:nth-child(14) {
    stroke-dasharray: 153;
    stroke-dashoffset: 153;
    fill: transparent;
}

#text path:nth-child(15) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(16) {
    stroke-dasharray: 88;
    stroke-dashoffset: 88;
    fill: transparent;
}

#text path:nth-child(17) {
    stroke-dasharray: 109;
    stroke-dashoffset: 109;
    fill: transparent;
}

#text path:nth-child(18) {
    stroke-dasharray: 97;
    stroke-dashoffset: 97;
    fill: transparent;
}

#text path:nth-child(19) {
    stroke-dasharray: 153;
    stroke-dashoffset: 153;
    fill: transparent;
}

#text path:nth-child(20) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(21) {
    stroke-dasharray: 141;
    stroke-dashoffset: 141;
    fill: transparent;
}

#text path:nth-child(22) {
    stroke-dasharray: 98;
    stroke-dashoffset: 98;
    fill: transparent;
}

#text path:nth-child(23) {
    stroke-dasharray: 107;
    stroke-dashoffset: 107;
    fill: transparent;
}

#text path:nth-child(24) {
    stroke-dasharray: 97;
    stroke-dashoffset: 97;
    fill: transparent;
}

#text path:nth-child(25) {
    stroke-dasharray: 153;
    stroke-dashoffset: 153;
    fill: transparent;
}

#text path:nth-child(26) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(27) {
    stroke-dasharray: 149;
    stroke-dashoffset: 149;
    fill: transparent;
}

#text path:nth-child(28) {
    stroke-dasharray: 98;
    stroke-dashoffset: 98;
    fill: transparent;
}

#text path:nth-child(29) {
    stroke-dasharray: 107;
    stroke-dashoffset: 107;
    fill: transparent;
}

#text path:nth-child(30) {
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    fill: transparent;
}

#text path:nth-child(31) {
    stroke-dasharray: 109;
    stroke-dashoffset: 109;
    fill: transparent;
}

#text path:nth-child(32) {
    stroke-dasharray: 65;
    stroke-dashoffset: 65;
    fill: transparent;
}

#text path:nth-child(33) {
    stroke-dasharray: 153;
    stroke-dashoffset: 153;
    fill: transparent;
}

#text path:nth-child(34) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(35) {
    stroke-dasharray: 97;
    stroke-dashoffset: 97;
    fill: transparent;
}

#text path:nth-child(36) {
    stroke-dasharray: 186;
    stroke-dashoffset: 186;
    fill: transparent;
}

#text path:nth-child(37) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(38) {
    stroke-dasharray: 178;
    stroke-dashoffset: 178;
    fill: transparent;
}

#text path:nth-child(39) {
    stroke-dasharray: 109;
    stroke-dashoffset: 109;
    fill: transparent;
}

#text path:nth-child(40) {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    fill: transparent;
}

#text path:nth-child(41) {
    stroke-dasharray: 115;
    stroke-dashoffset: 115;
    fill: transparent;
}

#text path:nth-child(42) {
    stroke-dasharray: 65;
    stroke-dashoffset: 65;
    fill: transparent;
}

#text path:nth-child(43) {
    stroke-dasharray: 242;
    stroke-dashoffset: 242;
    fill: transparent;
}

#text path:nth-child(44) {
    stroke-dasharray: 135;
    stroke-dashoffset: 135;
    fill: transparent;
}

#text path:nth-child(45) {
    stroke-dasharray: 107;
    stroke-dashoffset: 107;
    fill: transparent;
}

#text path:nth-child(46) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(47) {
    stroke-dasharray: 184;
    stroke-dashoffset: 184;
    fill: transparent;
}

#text path:nth-child(48) {
    stroke-dasharray: 101;
    stroke-dashoffset: 101;
    fill: transparent;
}

#text path:nth-child(49) {
    stroke-dasharray: 153;
    stroke-dashoffset: 153;
    fill: transparent;
}

#text path:nth-child(50) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(51) {
    stroke-dasharray: 149;
    stroke-dashoffset: 149;
    fill: transparent;
}

#text path:nth-child(52) {
    stroke-dasharray: 186;
    stroke-dashoffset: 186;
    fill: transparent;
}

#text path:nth-child(53) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(54) {
    stroke-dasharray: 242;
    stroke-dashoffset: 242;
    fill: transparent;
}

#text path:nth-child(55) {
    stroke-dasharray: 115;
    stroke-dashoffset: 115;
    fill: transparent;
}

#text path:nth-child(56) {
    stroke-dasharray: 186;
    stroke-dashoffset: 186;
    fill: transparent;
}

#text path:nth-child(57) {
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    fill: transparent;
}

#text path:nth-child(58) {
    stroke-dasharray: 109;
    stroke-dashoffset: 109;
    fill: transparent;
}

#text path:nth-child(59) {
    stroke-dasharray: 115;
    stroke-dashoffset: 115;
    fill: transparent;
}

#text path:nth-child(60) {
    stroke-dasharray: 115;
    stroke-dashoffset: 115;
    fill: transparent;
}

#text path:nth-child(61) {
    stroke-dasharray: 90;
    stroke-dashoffset: 90;
    fill: transparent;
}

#text path:nth-child(62) {
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    fill: transparent;
}

#text path:nth-child(63) {
    stroke-dasharray: 67;
    stroke-dashoffset: 67;
    fill: transparent;
}

#text path:nth-child(64) {
    stroke-dasharray: 67;
    stroke-dashoffset: 67;
    fill: transparent;
}

@keyframes line-anim{
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent
    }

    to {
        fill: $white;
    }
}